body { font-family: "Noto Sans"; color: #454C3A !important; }

.collapsing {
    -webkit-transition: none;
    transition: none;
    display: none;
}

.no-scroll {
    overflow: hidden;
}

.navbar-main {
    background-color: #DB8415;
    padding-top: 17px;
    padding-bottom: 17px;
    position: absolute;
}

.navbar-main * {
    z-index: 99;
}

.navbar-main a.nav-link {
    font-family: "Noto Sans";
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
    color: #fff;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-left: 37px;
}

.navbar-main a.nav-link:active,
.navbar-main a.active {
    border-bottom: 4px #fff solid;
    margin-bottom: 4px;
}

.navbar-floating {
    background-color: white;
    padding-top: 17px;
    padding-bottom: 16px;
    position: fixed;
    z-index: 2;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
}

.navbar-floating * {
    z-index: 1;
}

.navbar-floating a.nav-link {
    font-family: "Noto Sans";
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
    color: #454C3A;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-left: 37px;
}

.navbar-floating a.nav-link:active,
.navbar-floating a.active {
    border-bottom: 4px #E39739 solid;
    margin-bottom: 4px;
}

.navbar img.logo {
    max-height: 41px;
}

.navbar img.logo-text {
    max-height: 34px;
}

@media (max-width: 992px) {
    .navbar-main {
        padding-top: 20px;
    }
    .navbar-main .container,
    .navbar-floating .container {
        padding-left: 15px;
        padding-right: 15px;
    }
    .navbar img.logo {
        max-height: 30px;
    }
    .navbar img.logo-text {
        max-height: 27px;
    }
}

.navbar-mobile-show {
    background-color: white;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 31px;
    padding-right: 31px;    
    opacity: 1;
    position: fixed;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.navbar-mobile-show #navbarNav {
    padding-top: 3rem;
    height: 100vh;
}

.navbar-mobile-show .nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 12px;
}

.navbar-mobile-show a.nav-link {
    color: #454C3A;
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: .5rem;
    margin-right: .5rem;
    font-weight: 600;
    display: inline-block;
}

.navbar-mobile-show a.nav-link:active,
.navbar-mobile-show a.active {
    color: #E39739;
    font-weight: 600;
    border-bottom: 3px #E39739 solid;
    margin-bottom: 3px;
}

.navbar-mobile-show * {
    z-index: 99;
}

.nav-search {
    margin-right: 8px;
    background-color: white;
    border-radius: 13px;
    width: 289px !important; 
    height: 32px;
}

@media (max-width: 1200px){
    .nav-search{
        width: 240px !important; 
    }
}

@media (max-width: 992px) {
    #formSearch {
        display: none;
    }
}

.nav-search-floating {
    border: 1px #afafaf solid;
    border-radius: 16px;
    margin: 1px;
    margin-right: 8px;
    height: 32px;
}

.nav-search .icon {
    font-size: 1rem;
    padding: 7px;
    margin-left: 10px;
    min-width: 42px;
    text-align: center;
    color: #afafaf;
    border: none;
}

.nav-search .input-search {
    border: none;
    box-shadow: none;
    background-color: transparent;
    height: 32px; 
    padding: 0;
    font-size: 12px;
    font-weight: 600;
}

.nav-search .input-search:focus {
    border: none;
}

.nav-search .input-search::placeholder {
    color: #afafaf;
    letter-spacing: 0.5px;
}



/* ALL */
.displayPhone { display: none; }
.contentContainer, .contentContainerLast { padding: 0 150px; }
#banner { height: 853px; z-index: 98; }
#bannerContent { background-color: #DB8415; height: 770px; position: absolute; z-index: 98; }
#bannerContent div:first-child { top: 50%; left: -400px; }
#bannerContent img { height: 770px; }
.content { padding-top: 160px; }
.contentContainerLast { margin-bottom: 200px; }
.content .row div { margin-top: 40px; }
#ternaknesiaHadir { background: #F0F0F0 0% 0% no-repeat padding-box; border-radius: 30px; }
#quotesSymbol { width: 80px; left: 50px; top: -30px; }
#ternaknesiaHadirText div:first-child { margin-left: 140px; }
#ternaknesiaHadirText div:last-child { padding-right: 30px; margin-left: 57px; }
#ternaknesiaHadirGambar img { margin-top: -40px; }
.mariBerkontribusi { width: 90px; height: 90px; }
#semangatKami { height: 1543px; }
#firstDivSmgtKami { height: 1543px; width: 1451px; right: 0; left: 0; margin: -60px auto 0 auto; overflow: hidden; }
#firstDivSmgtKami img { width: 120%; max-width: 120%; margin-left: -15%; }
#semangatKamiDiv { padding-top: 80px; height: 900px; max-height: 900px; }
.semangatKamiContent { background: #FFFFFF 0% 0% no-repeat padding-box; box-shadow: 0px 3px 6px #00000029; border-radius: 30px; width: 524px; }
.besideSemangatUp { margin: 70px 25px 0 5px !important; height: 100%; }
#webCarousel { width: 1470px; margin-top: -70px; margin-right: -53px; }
#bckgCarousel { overflow: hidden; }
#contentCarousel { height: 315px; width: 575px; left: 52%; top: 25%; }
.carousel-inner { top: 65px; width: 60%; }
.carousel-control-next, .carousel-control-prev { top: -20%; }
.carousel-control-next-icon, .carousel-control-prev-icon {  width: 75px; height: 75px; }
.carousel-indicators { bottom: 35%; }
.carousel-indicators li { border-radius: 100%; width: 7px; height: 7px; }
#jejakKami { border: 1.5px solid #D1D0CD; border-radius: 30px; }
#jejakKami .row div { margin-top: 100px; }
#jejakKami .row div:last-child { margin-bottom: 100px; }
#jejakKami img { width: 30px; }
#endContent { background-color: #DB8415; height: 900px; }
#endContent .container { padding: 50px 25px; }
#downloadAplikasiButtonFont { border-radius: 55px; width: 230px; }
#endContent .container .row div:first-child { margin: 0 0 0 60px; }
#endContent .container .row div:last-child { margin: -35px 0px 0 -60px; }
#endContentHp img { top: 125px; }
@media (max-width: 992px) {
    #ternaknesiaHadirPhone { height: 303px; width: 400px; max-width: 100%; overflow: hidden; }
    #backgroundTernaknesiaHadirRight { width: 49%; background-color: #F0F0F0; border-radius: 5px; right: 0; }
    #contentSubTitleMariBerkontribusi { width: 100% !important; }
    #smgtKamiPhoneFirst { z-index: -1; height: 484px; }
    #smgtKamiRsponsive { margin-top: 45px; }
    #semangatKami { height: 310px; }
    #semangatKamiDiv { padding-top: 0; height: 215px; max-height: 250px; margin-left: 100px; overflow-x: scroll; -ms-overflow-style: none; }
    #semangatKamiDiv::-webkit-scrollbar {  }
    #semangatKamiDiv::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 0 transparent; border-radius: 10px; }
    #semangatKamiDiv::-webkit-scrollbar-thumb { border-radius: 10px; -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); }
    #semangatKamiDiv div:first-child.position-relative { display: flex; width: 1435px; cursor: default; }
    .semangatKamiContent { height: 145px; margin: 25px 5px !important; width: 276px; cursor: pointer; }
    .semangatKamiContent:hover { background-color: rgba(0,0,0,0.1); box-shadow: 0px 0px 6px white; }
    .semangatKamiContent label { cursor: pointer; }
    #bckgCarousel { padding: 0 35px; }
    #bersamaAndaCarousel { top: 15px; left: 0; right: 0; }
    .carousel-indicators { bottom: 0; }
    #phoneCarousel { width: 368px; }
    #phoneCarouselLogo { width: 25vh; padding-top: 12vh; }
    #endContent .container .row div:first-child { margin-bottom: -80px; }
    #endContent .container .row div:last-child { margin: 0; }
    #endContent img { top: 65px; }
    #footer #ftSec5 { margin-top: 46px; text-align: center; }
}



/* ALL */
.kedaulatan_pangan { border-radius: 20px; }

/* Font */
.tentangKamiFont { font-size: 37px; }
.titleSection, .bersamaAndaAstraFont { font-size: 32px; }
.kedaulatanPanganFontFirst, #downloadAplikasiFont { font-size: 24px; }
.kedaulatanPanganFont { font-size: 14px; line-height: 2; }
.ternaknesiaHadirFontFirst { font-size: 20px; }
.ternaknesiaHadirFontSecond { font-size: 14px; }
#mariBerkontribusiFont, #downloadAplikasiButtonFont { font-size: 16px; }
.mariBerkontribusiFontIcon, .bersamaAndaAstraDetailFont, .jejakKamiContentFont { font-size: 18px; }
#semangatKamiFont { font-size: 22px; width: 760px; margin: auto; }
#semangatKamiPaculFont { color: #DB8415; font-size: 28px; }
.semangatKamiPaculDivFont { font-size: 97px; }
.semangatKamiPaculDivFont2 { font-size: 30px; }
.semangatKamiPaculDivFont3 { font-size: 12px; }
.jejakKamiTitleFont { font-size: 25px; }
#downloadAplikasiFont { line-height: 2; }

/* Line Title */
.lineTitle { width: 291px; height: 22px; }

/* Icon Semangat Kami */
#semangatKamiIconP { height: 81px; width: 88px; }
#semangatKamiIconA { height: 72px; width: 54px; }
#semangatKamiIconC { height: 79px; width: 82px; }
#semangatKamiIconU { height: 71px; width: 72px; }
#semangatKamiIconL { height: 57px; width: 69px; }

/* Horizontal Line*/
#jejakKami hr { border-top: 2px solid #454C3A; width: 70%; }

@media(max-width: 1400px) {
    #contentCarousel { left: 53%; }
}

@media(max-width: 1336px) {
    #contentCarousel { width: 550px; left: 55%; }
}

@media(max-width: 1300px) {
    #contentCarousel { width: 525px; left: 54%; }
}

@media(max-width: 1200px) {
    #bannerContent div:first-child { left: -320px; }
    #contentCarousel { left: 52%; width: 485px; }
    .contentContainer, .contentContainerLast { padding: 0 20px; }
}

@media(max-width: 1107px) {
    #bannerContent img { height: 615px; margin-top: 84px; }
    #contentCarousel { left: 51%; top: 20%; }
    .carousel-indicators { bottom: 25%; }
}

@media (max-width: 992px) {
    /* ALL */
    .displayPhone { display: flex; }
    .displayWeb { display: none; }
    #bannerContent .displayPhone { display: none; }
    #bannerContent .displayWeb { display: flex; }
    #bannerContent div:first-child { left: -250px; }
    .displayPhone.kedaulatan_pangan { width: 400px; }
    #ternaknesiaHadirPhoneContent .position-relative { width: 386px; }
    #ternaknesiaHadirPhoneContent #lastPHadir { top: 35px; left: 25px; }
    #daluHadirPhone { width: 207px; height: 232px; bottom: 0; left: 30%; }
    #quoteHadirPhone { width: 49px; height: 42px; bottom: 0; left: 25px; }
    #contentCarousel { height: 27%; top: 67%; left: 0; width: 341px; overflow: hidden; right: 0; margin: auto; max-width: 100%; }
    .carousel-inner { top: 10px; width: 60%; }
    .carousel-indicators { bottom: 0; }
    .carousel-control-next-icon, .carousel-control-prev-icon { height: 50px; }
    #jejakKami { margin-top: 0; border: none; }
    .contentContainerLast { margin-bottom: 0; }
    #endContent { height: auto; }

    /* Font */
    .tentangKamiFont { font-size: 27px; }
    #ternaknesiaHadirPhoneContent p { font-size: 24px; color: #454C3A; left: 25px; }
    .titleSection, .ternaknesiaHadirFontFirst { font-size: 14px; }
    .kedaulatanPanganFontFirst, .bersamaAndaAstraFont { font-size: 18px; }
    .kedaulatanPanganFont, .mariBerkontribusiFontIcon, .jejakKamiContentFont, #semangatKamiFont, #semangatKamiPaculFont { font-size: 12px; }
    #mariBerkontribusiFont, #downloadAplikasiButtonFont, .bersamaAndaAstraDetailFont { font-size: 11px; }
    #semangatKamiFont { width: 405px; margin: 2rem auto 0 auto !important; max-width: 100%; }
    .semangatKamiPaculDivFont { font-size: 85px; }
    .semangatKamiPaculDivFont2 { font-size: 15px; }
    .semangatKamiPaculDivFont3 { font-size: 7px; }
    .jejakKamiTitleFont { font-size: 17px; }
    #downloadAplikasiFont { font-size: 16px; line-height: 2; }

    /* Line Title */
    .lineTitle { width: 151px; height: 11px; }

    /* Icon Semangat Kami */
    #semangatKamiIconP { height: 45px; width: 48px; }
    #semangatKamiIconA { height: 54px; width: 46px; }
    #semangatKamiIconC { height: 57px; width: 61px; }
    #semangatKamiIconU { height: 50px; width: 55px; }
    #semangatKamiIconL { height: 42px; width: 52px; }

    /* Horizontal Line*/
    #jejakKami hr { width: 30vh; }
}

@media (max-width: 783px) {
    #bannerContent img { height: 470px; margin-top: 160px; }
}

@media (max-width: 768px) {
    #bannerContent div:first-child { left: -230px; }
    #semangatKamiDiv { margin: 0 0 0 35px; }
}

@media (max-width: 768px) and (min-height: 1024px) {
    #phoneCarouselLogo { width: 17vh; padding-top: 5vh; }
}

@media (max-width: 703px) {
    #banner { background-image: none !important; }
    #bannerContent .displayPhone { display: flex; }
    #bannerContent .displayWeb { display: none; }
    #bannerContent { width: 100%; background-color: transparent; height: auto; }
    #bannerContent .displayPhone div:first-child { width: 100%; top: 30%; left: 0; text-align: center; }
    #bannerContent img { height: auto; margin-top: 0; }
}

@media (max-width: 424px) {
    #phoneCarouselLogo { padding-top: 12%; width: 22vh; }
    #contentCarousel { width: 310px; }
}

@media (max-width: 398px) {
    #contentCarousel { width: 280px; }
    .bersamaAndaAstraFont { font-size: 15px; }
    .bersamaAndaAstraDetailFont { font-size: 9px; }
    .carousel-control-next-icon, .carousel-control-prev-icon { height: 42px; }
}

@media (max-width: 375px) and (min-height: 812px) {
    #phoneCarouselLogo { padding-top: 12%; width: 17vh; }
}

@media (max-width: 360px) {
    #phoneCarouselLogo { width: 21vh; }
    #contentCarousel { width: 250px; }
    .carousel-control-next-icon, .carousel-control-prev-icon { height: 38px; }
}

@media (max-width: 320px) {
    #phoneCarouselLogo { width: 18vh; }
}

/* ------------- Other --------------- */
#footer { background-color: #1A1818; color: white; }
#footer .ft-sec-1 { padding-top: 100px; padding-bottom: 100px; font-size: 16px; }
#footer hr { border: 1px white solid; }
#footer .logo-content { text-align: center; }
#footer img.ft-logo { max-height: 103px; }
#footer a { color: white; }
#footer ul { padding-inline-start: 20px; }
#footer li.ft-item { list-style-type: none; margin-bottom: 2rem; }
#footer li.ft-item a.ft-link { color: white; }
#footer .text-unduh { margin-bottom: 30px; }
#footer img.img-store-google { max-height: 45px; margin-bottom: 23px; }
#footer img.img-store-apple { max-height: 52px; }
.footer-bottom { padding-top: 35px; padding-bottom: 35px; }
#footer .social-media { text-align: center; }
#footer img.social-icon { max-width: 25px; margin-left: 2px; margin-right: 2px; }
#footer #faq { font-size: 15px; font-weight: bold; }
#footer #copyright { font-size: 15px; font-weight: bold; }

@media (max-width: 768px){
    #footer img.ft-logo { max-height: 98px; }
    #footer a { font-size: 12px; font-weight: 600; }
    #footer .text-unduh { font-size: 12px; font-weight: bold; margin-bottom: 10px; }
    #footer img.img-store-google { max-width: 112px; margin-bottom: 10px; }
    #footer img.img-store-apple { max-width: 112px; }
    #footer #copyright { font-size: 12px; }
}

@media (max-width: 576px){
    #footer .ft-sec-1 { padding-bottom: 40px; }
    #footer ul { padding-inline-start: 1px; font-size: 12px; font-weight: 600; }
    #footer img.ft-logo { max-height: 98px; }
    #footer #ftSec1 { margin-bottom: 46px; }
    #footer .text-unduh { font-size: 11px; font-weight: bold; }
    #footer img.img-store-google { max-height: 33px; margin-bottom: 0; }
    #footer img.img-store-apple { max-height: 33px; }
    .footer-bottom { padding-top: 7px; padding-bottom: 26px; }
    #footer img.social-icon {  max-width: 21px; }
    #footer #faq { text-align: center !important; font-size: 9px; padding-top: 1rem; padding-bottom: 1rem; }
    #footer #copyright { text-align: center; font-size: 10px; }
}